
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-lg-7">

      <div class="row filterBox">
        <h1 id="smartSearch">
          Living Needs
        </h1>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              D01 Boat Quay / Raffles Place / Marina Square
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              D02 Chinatown / Tanjong Pagar
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 3
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 4
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 5
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 6
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 7
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 8
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 9
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 10
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 11
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 12
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 13
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 14
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 15
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 16
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 17
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 18
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 19
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 20
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 21
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 22
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 23
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 24
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 25
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 26
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 27
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 28
            </label>
          </div>
        </div>

      </div>

      <div class="filterBox">
        <h1 id="smartSearch">
          Lifestyle
        </h1>


          <div id="map_search">
            <form>
              <input type="text">
              <a href="#" id="map_search_submit">
                <span class="glyphicon glyphicon-search">
                </span>
              </a>
            </form>
          </div>
          

        <!-- <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
            <input type="text" class="form-control" aria-label="...">
        </div> -->

      </div>

      <div class="filterBox">
        <h1 id="smartSearch">
          Culture
        </h1>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
            <input type="text" class="form-control" aria-label="...">
        </div>
      </div>

      <div class="filterBox">
        <h1 id="smartSearch">
          Transportation
        </h1>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
            <input type="text" class="form-control" aria-label="...">
        </div>
      </div>
        
      <div class="result">
        
        <div class="col-md-6">
          <div class="result-item">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="result-item">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
         
        <div class="col-md-6"> 
          <div class="result-item">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-5">
      <div id="map-canvas"></div>

      <div id="control_container">
        <div id="map_search">
          <!-- <form>
            <input type="text">
            <a href="#" id="map_search_submit">
              <span class="glyphicon glyphicon-search">
              </span>
            </a>
          </form> -->
        </div>
        <div class="attribution">
        <p>powered by Yelp</p>
        </div>
        <div id="results">
        </div>
      </div>
    
    </div>
  
  </div>
</div>
