
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-lg-7 main-body-fixed">

      <div class="row filter-header"> 
        <div class="col-xs-12 filter-header-text">
          Minimum Requirements for My Home
        </div>
      </div> 
      <div class="row filterBox">
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              D01 Boat Quay / Raffles Place / Marina Square
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              D02 Chinatown / Tanjong Pagar
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 3
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 4
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 5
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 6
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 7
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 8
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 9
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 10
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 11
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 12
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 13
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 14
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 15
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 16
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 17
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 18
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 19
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 20
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 21
            </label>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 22
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 23
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 24
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 25
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 26
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 27
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              District 28
            </label>
          </div>
        </div>

      </div>

      <div class="row filter-header">
        <div class="col-xs-12 filter-header-text">
          Lifestyle - La Dolce Vita!
        </div>
      </div>
      
      <div class="row filterBox">
        <div class="col-xs-4">
          <div id="map_search">
            <form>
              Type of Food:
              <input type="text">
              <a href="#" id="map_search_submit">
                <span class="glyphicon glyphicon-search">
                </span>
              </a>
            </form>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Within</span>
            <input type="text" class="form-control" placeholder="Distance in km" aria-describedby="basic-addon1">
        </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">of Address:</span>
            <input type="text" class="form-control" placeholder="Address of property" aria-describedby="basic-addon1">
        </div>
        </div>
      </div>

      <div class="row filter-header">
        <div class="col-xs-12 filter-header-text">
          Are you a Culture Vulture?
        </div>
      </div>
      <div class="row filterBox">
        <div class="col-xs-4">
          <div id="map_search">
            <form>
              Type of Food:
              <input type="text">
              <a href="#" id="map_search_submit">
                <span class="glyphicon glyphicon-search">
                </span>
              </a>
            </form>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Within</span>
            <input type="text" class="form-control" placeholder="Distance in km" aria-describedby="basic-addon1">
        </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <!-- <span class="input-group-addon" id="basic-addon1">of Address:</span> -->
            <input id="address" type="textbox" value="Singapore">
            <span>
              <input type="button" value="Geocode" id="geocode_submit">
            </span>
        </div>
        </div>
      </div>

      <div class="row property-header">
        <div class="pull-left">
          <span class="property-name">
          Twin Regency
          </span>
          <span class="property-address">
            Jalan Membina, 098765
          </span>
        </div>
        <div class="district-code">
          District 11
        </div>
        <div class="pull-right">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
          </span>
        </div>
      </div>

      <div class="row filterBox">
        <div class="row property-listing-body">
          <div class="col-xs-6 property-picture">
          image
          </div>
          <div class="col-xs-6">
            <p>Price: </p>
            <p>Size: </p>
            <p>Price Per Square Foot: </p>
            <p>Tenure: </p>
          </div>
        </div>
      </div>

      <div class="row filter-header">
        <div class="col-xs-12 filter-header-text">
          I need a Ride
        </div>
      </div>
      <div class="row filterBox">
      </div>

     <!--  
      <div class="row filterBox">
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div> -->
        
      <div class="row property-listing-position">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
            Twin Regency
            </div>
            <div class="col-xs-9 property-address">
              Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              District 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="row property-listing-header"> -->
        <div class="col-xs-12 property-listing-box">
          <div class="row property-listing-header">
            <div class="col-xs-12 property-name">
              <div class="col-xs-3">Property Name:</div>
              <div class="col-xs-2">Twin Regency</div>
            </div>
            <div class="col-xs-9 property-address">
              Address: Jalan Membina, 098765
            </div>
            <div class="col-xs-2 district-code">
              Postal District: 11
            </div>
          </div>
          <div class="row property-listing-body">
            <div class="col-xs-6 property-picture">
            image
            </div>
            <div class="col-xs-6">
              <p>Price: </p>
              <p>Size: </p>
              <p>Price Per Square Foot: </p>
              <p>Tenure: </p>
            </div>
          </div>
        </div>
      </div>



      <div class="result">
        
        <div class="col-md-6">
          <div class="result-item">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="result-item">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
         
        <div class="col-md-6"> 
          <div class="result-item">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-5 google-map-fixed">
      <div id="map-canvas"></div>

      <div id="control_container">
        <div id="map_search">
          <!-- <form>
            <input type="text">
            <a href="#" id="map_search_submit">
              <span class="glyphicon glyphicon-search">
              </span>
            </a>
          </form> -->
        </div>
        <div class="attribution">
        <p>powered by Yelp</p>
        </div>
        <div id="results">
        </div>
      </div>
    
    </div>
  
  </div>
</div>
