.body {
  padding-top: 100px;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid 1px #D0D0D0;
}

.pull-left.vertical-center {
  min-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 11px;
}

.pull-right.vertical-center {
  min-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 11px;
}

.header-links {
  margin-top: 0px;
  padding-right: 40px;
  font-size: 35px;
  color: black;
  font-family: Arial;
  display: inline;
}

.header-links a {
  color: #2E2E2E;
}

#icon {
  border:solid 8px #5F04B4;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  padding: 14px 10px;
  color: #5F04B4;
  background: #F78181;
}

#icon-name {
  color: #5F04B4;
  font-size: 35px;
  margin-left: 10px;
  font-family: Arial;
  display: inline;
}

.nav li {
  display: inline;
}



