.nav.header-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #051195;
  margin-bottom: 15px;
}

.nav a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.pull-left {
  margin-top: 10px;
}

.pull-right {
  margin-top: 10px;
}