.body {
  padding-top: 100px;
}

.nav.header-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid 1px #D0D0D0;
}

#icon {
  border:solid 8px #8904B1;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  padding: 14px 10px;
  color: #8904B1;
}

#icon-name {
  color: #8904B1;
  font-size: 50px;
  margin-left: 10px;
  font-family: Arial;
}

.nav a {
  font-size: 40px;
  padding: 14px 10px;
  font-family: Arial;
  color: black;
}

.nav li {
  display: inline;
}

.pull-left {
  /*margin-top: 10px;*/
}

.pull-right {
/*  margin-top: 10px;
  padding-right: 40px;*/
}

#icon-link {
  margin-top: 10px;
}

#header-links {
  margin-top: 10px;
  padding-right: 40px;
}
