@import "color";

.devise-sign-up {
  text-align: center;
  border: solid 2px #D0D0D0;
  top: 135px;
  border-radius: 10px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 20px;
}

#sign-up-header-one {
  background: $primary-color;
}

#sign-up-header-one h2 {
  margin-bottom: 0px;
}

#sign-up-header-two {
  background: $primary-color;
  margin-bottom: 15px;
}

#sign-up-header-two h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.free {
  font-style: italic;
  font-weight: bold;
}

.field {
  margin-bottom: 15px;
}

.btn-default.submit {
  border-radius: 10px;
  background: #5AD658;
}