html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#smartSearch {
  margin-top: 0px;
}

.homePageFilterBreak {
  height: 15px;
}

.row.filter-header {
  background: #DDDDDD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: solid 2px #D0D0D0;
  border-left: solid 2px #D0D0D0;
  border-right: solid 2px #D0D0D0;
  margin: 0px -14px 0px 0px;
  font-size: 20px;
  text-align: center;
  font-family: Arial;
  color: #2E2E2E;
}

/*.panel-group {
  position: fixed;
  height: 800px;
  top: 70;
  transition: top 0.2s ease-in-out;
}
*/
/*.nav-up {
  top: -40px;
}*/

.panel.panel-default {
  border: none;
}

.panel-heading {
  border: none;
}

.row.property-header {
  background: #6DCCAD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: solid 1px #D0D0D0;
  border-left: solid 1px #D0D0D0;
  border-right: solid 1px #D0D0D0;
  margin: 0px -14px 0px 0px;
  font-size: 16px;
  font-family: Arial;
}

.row.filterBox {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: solid 1px #D0D0D0;
  border-right: solid 1px #D0D0D0;
  border-left: solid 1px #D0D0D0;
  margin: 0px -14px 15px 0px;
  font-size: 14px;
}

.slider-label {
  padding-left: 0px;
}

.price-row {
  border-top: solid 1px #dce0e0;
  padding-top: 20px;
 /* display: flex;
  align-items: center;*/
}

#district-title {
  font-weight: bold;
}

.slider-space {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  /*border-top: 1px solid #dce0e0;
  border-bottom: 1px solid #dce0e0;*/
}

#number-of-beds {
  font-weight: bold;
}

.btn-default.search-button {
  background: #6DCCAD;
  font-family: Arial;
}

.row.submit-row {
  text-align: center;
}

.btn-group {
  width: 100%;
  margin-top: 10px;
}

.btn-default.search-button {
  width: 100%;
  color: white;
  font-weight: bold;
}

.result-item {
  /*border: solid 2px black;*/
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

#map-canvas {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
  border: solid 2px #D0D0D0;
  
}

.col-lg-7.main-body-fixed {
  top: 0px;
  margin-top: -24px;
}

.col-lg-5.google-map-fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 75px;
}

#frontpage {
  height: 80px;
  background-color: white;
}

.property-listing-position {
  margin-right: -15px;
  margin-left: 0px;
}

.property-listing-box {
  /*border: solid 2px black;*/
  border-radius: 10px;
  margin-bottom: 15px;
}

.property-listing-header {
  background-color: #EA42FF;
  /*border-bottom: solid 2px black;*/
  font-size: 26px;
}

.property-name {
  margin-top: 7px;
  margin-bottom: 7px;
}

.property-address {
  margin-bottom: 7px;
}

/*.glyphicon-heart {
  float:left;
  color: red;
}*/

.district-code {
  
}

.input-group-addon.form-control {
  z-index: 0;
}

.panel-body .checkbox {
  margin-top: 0;
  margin-bottom: 7px;
}

select.room-number {
  width: 100px;
  margin-right: 30px;
  display: inline-block;
}

.condo-picture {
  max-width: 380px;
  max-height: 180px;
}