<div class="nav header-nav">
  <div class="container-fluid">
    <ul class="pull-left" id="icon-link">
      <li id="icon">
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </li>
      <span id="icon-name"> 
        Pincasa
      </span>
    </ul>
    <ul class="pull-right" id="header-links">
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log In", new_user_session_path %>
      </li>
      <li>
        <a href="#">
          Favorites
        </a>
      </li>
    </ul>
  </div>
</div>