<div class="nav header-nav">
  <div class="container-fluid">
    <ul class="pull-left">
      <li> 
        <a href="#">
          888
        </a>
      </li>
      <li> 
        <a href="#">
          Browse
        </a>
      </li>
    </ul>
    <ul class="pull-right">
      <li>
        <a href="#">
          Sign Up
        </a>
      </li>
      <li>
        <a href="#">
          Log In
        </a>
      </li>
      <li>
        <a href="#">
          Favorites
        </a>
      </li>
    </ul>
  </div>
</div>