<!DOCTYPE html>
<html>
  <head>
    <title>Findpropertyapp</title>

    <link rel="stylesheet" href="static_pages.css.scss">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places">
    </script>
  
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li> 
            <a href="#">
              888
            </a>
          </li>
          <li> 
            <a href="#">
              Browse
            </a>
          </li>
        </ul>
        <ul class="pull-right">
          <li>
            <a href="#">
              Sign Up
            </a>
          </li>
          <li>
            <a href="#">
              Log In
            </a>
          </li>
          <li>
            <a href="#">
              Favorites
            </a>
          </li>
        </ul>
      </div>
    </div>

  <%= yield %>

  </body>

</html>

